<div class="row mb-4 project">
    <div class="col-md-5">
        <p> {{description}} </p>
        <h2>
            Created by {{user.name}} on {{format_date date_created}}
        </h2>
    </div>
</div>