<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
        Eastern Conference
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1" id="team-select1">
        <li><a class="dropdown-item" href="/api/result/sportsdata/WAS" id="eastteam1">Wizards</a></li>
        <li><a class="dropdown-item" href="/api/result/sportsdata/CHA" id="eastteam2">Hornets</a></li>
        <li><a class="dropdown-item" href="/api/result/sportsdata/ATL" id="eastteam3">Hawks</a></li>
        <li><a class="dropdown-item" href="/api/result/sportsdata/MIA" id="eastteam4">Heat</a></li>
        <li><a class="dropdown-item" href="/api/result/sportsdata/ORL" id="eastteam5">Magic</a></li>
        <li><a class="dropdown-item" href="/api/result/sportsdata/NY" id="eastteam6">Knicks</a></li>
        <li><a class="dropdown-item" href="/api/result/sportsdata/PHI" id="eastteam7">Sixers</a></li>
        <li><a class="dropdown-item" href="/api/result/sportsdata/BKN" id="eastteam8">Nets</a></li>
        <li><a class="dropdown-item" href="/api/result/sportsdata/BOS" id="eastteam9">Celtics</a></li>
        <li><a class="dropdown-item" href="/api/result/sportsdata/TOR" id="eastteam10">Raptors</a></li>
        <li><a class="dropdown-item" href="/api/result/sportsdata/CHI" id="eastteam11">Bulls</a></li>
        <li><a class="dropdown-item" href="/api/result/sportsdata/CLE" id="eastteam12">Cavaliers</a></li>
        <li><a class="dropdown-item" href="/api/result/sportsdata/IND" id="eastteam13">Pacers</a></li>
        <li><a class="dropdown-item" href="/api/result/sportsdata/DET" id="eastteam14">Pistons</a></li>
        <li><a class="dropdown-item" href="/api/result/sportsdata/MIL" id="eastteam15">Bucks</a></li>
    </ul>
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
        Western Conference 
    </button> 
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton2" id="team-select2">
        <li><a class="dropdown-item" href="/api/result/sportsdata/MIN" id="westteam1">Timberwolves</a></li>
        <li><a class="dropdown-item" href="/api/result/sportsdata/UTA" id="westteam2">Jazz</a></li>
        <li><a class="dropdown-item" href="/api/result/sportsdata/OKC" id="westteam3">Thunder</a></li>
        <li><a class="dropdown-item" href="/api/result/sportsdata/POR" id="westteam4">Trailblazers</a></li>
        <li><a class="dropdown-item" href="/api/result/sportsdata/DEN" id="westteam5">Nuggets</a></li>
        <li><a class="dropdown-item" href="/api/result/sportsdata/MEM" id="westteam6">Grizzlies</a></li>
        <li><a class="dropdown-item" href="/api/result/sportsdata/HOU" id="westteam7">Rockets</a></li>
        <li><a class="dropdown-item" href="/api/result/sportsdata/NO" id="westteam8">Pelicans</a></li>
        <li><a class="dropdown-item" href="/api/result/sportsdata/SA" id="westteam9">Spurs</a></li>
        <li><a class="dropdown-item" href="/api/result/sportsdata/DAL" id="westteam10">Mavericks</a></li>
        <li><a class="dropdown-item" href="/api/result/sportsdata/GS" id="westteam11">Warriors</a></li>
        <li><a class="dropdown-item" href="/api/result/sportsdata/LAL" id="westteam12">Lakers</a></li>
        <li><a class="dropdown-item" href="/api/result/sportsdata/LAC" id="westteam13">Clippers</a></li>
        <li><a class="dropdown-item" href="/api/result/sportsdata/PHO" id="westteam14">Suns</a></li>
        <li><a class="dropdown-item" href="/api/result/sportsdata/SAC" id="westteam15">Kings</a></li>
    </ul>
</div>





{{#each comments as |comment| }}
<div>
    <h2>
        <p>
            {{comment.description}}
        </p>
        {{!-- if comment.user.name doesn't work, remove it. down below --}}
        <h3>
            Created by {{comment.user.name}} on {{format_date comment.date_created}}
        </h3>
    </h2>
</div>
{{/each}}

