{{#each comments as |comment| }}
<div>
  <h2>
    <p>
      {{comment.description}}
    </p>
    {{!-- if comment.user.name doesn't work, remove it. down below  --}}
    <h3> 
      Created by {{comment.user.name}} on {{format_date comment.date_created}}
    </h3>
  </h2>
</div>
{{/each}}