<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
        Eastern Conference
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1" id="team-select1">
        <li><a class="dropdown-item" href="/api/result/sportsdata/WAS" value="eastteam1">Wizards</a></li>
        <li><a class="dropdown-item" href="/api/result/sportsdata/CHA" value="eastteam2">Hornets</a></li>
        <li><a class="dropdown-item" href="/api/result/sportsdata/ATL" value="eastteam3">Hawks</a></li>
        <li><a class="dropdown-item" href="/api/result/sportsdata/MIA" value="eastteam4">Heat</a></li>
        <li><a class="dropdown-item" href="/api/result/sportsdata/ORL" value="eastteam5">Magic</a></li>
        <li><a class="dropdown-item" href="/api/result/sportsdata/NY" value="eastteam6">Knicks</a></li>
        <li><a class="dropdown-item" href="/api/result/sportsdata/PHI" value="eastteam7">Sixers</a></li>
        <li><a class="dropdown-item" href="/api/result/sportsdata/BKN" value="eastteam8">Nets</a></li>
        <li><a class="dropdown-item" href="/api/result/sportsdata/BOS" value="eastteam9">Celtics</a></li>
        <li><a class="dropdown-item" href="/api/result/sportsdata/TOR" value="eastteam10">Raptors</a></li>
        <li><a class="dropdown-item" href="/api/result/sportsdata/CHI" value="eastteam11">Bulls</a></li>
        <li><a class="dropdown-item" href="/api/result/sportsdata/CLE" value="eastteam12">Cavaliers</a></li>
        <li><a class="dropdown-item" href="/api/result/sportsdata/IND" value="eastteam13">Pacers</a></li>
        <li><a class="dropdown-item" href="/api/result/sportsdata/DET" value="eastteam14">Pistons</a></li>
        <li><a class="dropdown-item" href="/api/result/sportsdata/MIL" value="eastteam15">Bucks</a></li>
    </ul>
    {{!-- <button id="eastern" class="btn btn-primary">Submit</button> --}}
{{!-- </div>
<div class="dropdown"> --}}
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
        Western Conference 
    </button> 
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton2" id="team-select2">
        <li><a class="dropdown-item" href="/api/result/sportsdata/MIN" value="westteam1">Timberwolves</a></li>
        <li><a class="dropdown-item" href="/api/result/sportsdata/UTA" value="westteam2">Jazz</a></li>
        <li><a class="dropdown-item" href="/api/result/sportsdata/OKC" value="westteam3">Thunder</a></li>
        <li><a class="dropdown-item" href="/api/result/sportsdata/POR" value="westteam4">Trailblazers</a></li>
        <li><a class="dropdown-item" href="/api/result/sportsdata/DEN" value="westteam5">Nuggets</a></li>
        <li><a class="dropdown-item" href="/api/result/sportsdata/MEM" value="westteam6">Grizzlies</a></li>
        <li><a class="dropdown-item" href="/api/result/sportsdata/HOU" value="westteam7">Rockets</a></li>
        <li><a class="dropdown-item" href="/api/result/sportsdata/NO" value="westteam8">Pelicans</a></li>
        <li><a class="dropdown-item" href="/api/result/sportsdata/SA" value="westteam9">Spurs</a></li>
        <li><a class="dropdown-item" href="/api/result/sportsdata/DAL" value="westteam10">Mavericks</a></li>
        <li><a class="dropdown-item" href="/api/result/sportsdata/GS" value="westteam11">Warriors</a></li>
        <li><a class="dropdown-item" href="/api/result/sportsdata/LAL" value="westteam12">Lakers</a></li>
        <li><a class="dropdown-item" href="/api/result/sportsdata/LAC" value="westteam13">Clippers</a></li>
        <li><a class="dropdown-item" href="/api/result/sportsdata/PHO" value="westteam14">Suns</a></li>
        <li><a class="dropdown-item" href="/api/result/sportsdata/SAC" value="westteam15">Kings</a></li>
    </ul>
    {{!-- <button id="western" class="btn btn-primary">Submit</button> --}}
</div>
{{!-- <script src="/js/search.js"></script> --}}




{{#each comments as |comment| }}
<div>
    <h2>
        <p>
            {{comment.description}}
        </p>
        {{!-- if comment.user.name doesn't work, remove it. down below --}}
        <h3>
            Created by {{comment.user.name}} on {{format_date comment.date_created}}
        </h3>
    </h2>
</div>
{{/each}}

