<div>
    <input type="text" id="myInput" onkeyup="teamSearch()" placeholder="Search for names..">

    <ul id="myUL" class="">
{{#each results as |result|}}
        <li id= "test" class="name">
            <a class="name-size">{{result.away_team}}</a>
        </li>
        {{!-- <div class="info">
        <p class="address">
            <a></a>
        </p>
        <p class="city">
            <a></a>
        </p>
        <p class="phone">
            <a></a>
        </p>
        <p class="hours">
            <a></a>
        </p> --}}
        </div>
        {{/each}}
    </ul>
    {{!-- eastern conference --}}
</div>

<ul id="myUL">
  <li><a href="#">Adele</a></li>
  <li><a href="#">Agnes</a></li>

  <li><a href="#">Billy</a></li>
  <li><a href="#">Bob</a></li>

  <li><a href="#">Calvin</a></li>
  <li><a href="#">Christina</a></li>
  <li><a href="#">Cindy</a></li>
</ul>


{{!-- search functionality --}}
<script>
//search formula     
function teamSearch() {
    // Declare variables
    var input, filter, ul, li, a, i, txtValue;
    input = document.getElementById('myInput');
    filter = input.value.toUpperCase();
    ul = document.getElementById("myUL");
    li = ul.getElementsByTagName('li');
  
    // Loop through all list items, and hide those who don't match the search query
    for (i = 0; i < li.length; i++) {
      a = li[i].getElementsByTagName("a")[0];
      txtValue = a.textContent || a.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        li[i].style.display = "";
      } else {
        li[i].style.display = "none";
      }
    }
  }
</script>
{{!--
<script src="./js/search.js"></script> --}}
