.username {
    font-family: Georgia, 'Times New Roman', Times, serif !important;
    font-size: 20px !important;
    font-weight: bolder;
    padding-left: 20px /* Add padding of 10px to all sides */
}

.desc {
    font-family: Georgia, 'Times New Roman', Times, serif !important;
    font-size: 30px !important;
    padding-left: 20px; /* Add 20px padding to the top and bottom, 15px padding to the left and right */
    padding-bottom: -10px !important;
}

.date {
    padding-left: 20px !important;
    padding-bottom: 20px !important;
    font-family: Georgia, 'Times New Roman', Times, serif !important;
    font-size: 20px !important;
}







